<mat-toolbar>
  <span>One Time Reservations</span>
  <button mat-stroked-button [routerLink]="['/addOneTimeReservation']">+ Add One Time Reservation</button>
</mat-toolbar>

<table mat-table [dataSource]="oneTimeReservations" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Reservation ID </th>
    <td mat-cell *matCellDef="let reservation"> {{ reservation.oneTimeResId }} </td>
  </ng-container>

  <ng-container matColumnDef="vehicleNumber">
    <th mat-header-cell *matHeaderCellDef> Vehicle Number </th>
    <td mat-cell *matCellDef="let reservation"> {{ reservation.vehicleDTO.vehicleNumber }} </td>
  </ng-container>

  <ng-container matColumnDef="customerName">
    <th mat-header-cell *matHeaderCellDef> Customer Name </th>
    <td mat-cell *matCellDef="let reservation"> 
      {{ reservation.vehicleDTO.customerDTO.firstName }} 
      {{ reservation.vehicleDTO.customerDTO.lastName }} 
    </td>
  </ng-container>

  <ng-container matColumnDef="parkingLotAddress">
    <th mat-header-cell *matHeaderCellDef> Parking Lot Address </th>
    <td mat-cell *matCellDef="let reservation"> {{ reservation.parkingLotDTO.address }} </td>
  </ng-container>

  <ng-container matColumnDef="bookingTime">
    <th mat-header-cell *matHeaderCellDef> Booking Time </th>
    <td mat-cell *matCellDef="let reservation"> {{ getFormattedDate(reservation.startTimestamp) }} </td>
  </ng-container>

  <ng-container matColumnDef="netCost">
    <th mat-header-cell *matHeaderCellDef> Net Cost </th>
    <td mat-cell *matCellDef="let reservation"> {{ reservation.netCost ? (reservation.netCost | currency:'USD':'symbol':'1.2-2') : '-'   }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let reservation">
      <button mat-stroked-button (click)="viewDetails(reservation.oneTimeResId)">View More</button>
      <button mat-stroked-button (click)="openDeleteDialog(reservation.oneTimeResId)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-parking-one-time-res-delete *ngIf="showDeleteDialog"
                                  [oneTimeResId]="oneTimeResIdToDelete"
                                  (delete)="deleteOneTimeResById($event)"
                                  (cancelDelete)="cancel()">
</app-parking-one-time-res-delete>
