<mat-toolbar class="table-toolbar">
  <div class="toolbar-left">
    <button mat-icon-button [routerLink]="['/dashboard/offers']" class="back-button">
      <span class="material-symbols-outlined">arrow_back_ios</span>
    </button>
    <span>Offer Details</span>
  </div>
</mat-toolbar>

<div class="custom-table-container">
  <mat-card-content *ngIf="offers"> 
    <table mat-table [dataSource]="[offers]" class="mat-elevation-z8 custom-table">
    
      <ng-container matColumnDef="offer_code">
        <th mat-header-cell *matHeaderCellDef> Offer Code </th>
        <td mat-cell *matCellDef="let offer">{{ offer.offerCode }}</td>
      </ng-container>
    
      <ng-container matColumnDef="issued_on">
        <th mat-header-cell *matHeaderCellDef> Issued On </th>
        <td mat-cell *matCellDef="let offer">{{ offer.issuedOn }}</td>
      </ng-container>
    
      <ng-container matColumnDef="valid_till">
        <th mat-header-cell *matHeaderCellDef> Valid Till </th>
        <td mat-cell *matCellDef="let offer">{{ offer.validTill }}</td>
      </ng-container>
    
      <ng-container matColumnDef="booking_date_from">
        <th mat-header-cell *matHeaderCellDef> Booking Date From </th>
        <td mat-cell *matCellDef="let offer">{{ offer.bookingDateFrom }}</td>
      </ng-container>
    
      <ng-container matColumnDef="booking_date_till">
        <th mat-header-cell *matHeaderCellDef> Booking Date Till </th>
        <td mat-cell *matCellDef="let offer">{{ offer.bookingDateTill }}</td>
      </ng-container>
    
      <ng-container matColumnDef="discount_in_percent">
        <th mat-header-cell *matHeaderCellDef> Discount in Percent </th>
        <td mat-cell *matCellDef="let offer">{{ offer.discountInPercent }}%</td>
      </ng-container>
    
      <ng-container matColumnDef="max_amount_offer">
        <th mat-header-cell *matHeaderCellDef> Max Amount Offer </th>
        <td mat-cell *matCellDef="let offer">{{ offer.maxAmountOffer }}</td>
      </ng-container>
    
      <ng-container matColumnDef="discount_in_amount">
        <th mat-header-cell *matHeaderCellDef> Discount in Amount </th>
        <td mat-cell *matCellDef="let offer">{{ offer.discountInAmount }}</td>
      </ng-container>
    
      <ng-container matColumnDef="parking_lot_address">
        <th mat-header-cell *matHeaderCellDef> Parking Lot Address </th>
        <td mat-cell *matCellDef="let offer">{{ offer.parkingLotDTO.address }}</td>
      </ng-container>
    
      <ng-container matColumnDef="parking_lot_zip">
        <th mat-header-cell *matHeaderCellDef> Zip </th>
        <td mat-cell *matCellDef="let offer">{{ offer.parkingLotDTO.zip }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let offer">
          <button mat-flat-button class="edit-button" [routerLink]="['/updateOffer', offer.offersId]">
            <span class="material-symbols-outlined">
              border_color
            </span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
    </table>
  </mat-card-content>
</div>