<mat-toolbar>
  <span>Parking Lots</span>
</mat-toolbar>

<table mat-table [dataSource]="parkingLots" class="mat-elevation-z8">
 
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let parkingLot"> {{parkingLot.id}} </td>
  </ng-container>

  <ng-container matColumnDef="number_of_blocks">
    <th mat-header-cell *matHeaderCellDef> Number of Blocks </th>
    <td mat-cell *matCellDef="let parkingLot"> {{parkingLot.number_of_blocks}} </td>
  </ng-container>

  <ng-container matColumnDef="is_slot_available">
    <th mat-header-cell *matHeaderCellDef> Slot Available </th>
    <td mat-cell *matCellDef="let parkingLot"> {{parkingLot.is_slot_available === 'Y' ? 'Yes' : 'No'}} </td>
  </ng-container>

  <ng-container matColumnDef="minimum_hr_to_pay">
    <th mat-header-cell *matHeaderCellDef> Min hourly pay </th>
    <td mat-cell *matCellDef="let parkingLot"> $ {{parkingLot.minimum_hr_to_pay}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let parkingLot"> {{parkingLot.address}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>