<mat-toolbar class="table-toolbar">
  <div class="toolbar-left">
    <button mat-icon-button [routerLink]="['/parkingMonthlyPassList']" class="back-button">
      <span class="material-symbols-outlined">arrow_back_ios</span>
    </button>
    <span>Monthly Pass Details</span>
  </div>
</mat-toolbar>

<div class="custom-table-container">
  <mat-card-content *ngIf="monthlyPasses"> 
    <table mat-table [dataSource]="[monthlyPasses]" class="mat-elevation-z8 custom-table">
    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Pass Id </th>
        <td mat-cell *matCellDef="let monthlyPass"> {{ monthlyPass.monthlyPassId }} </td>
      </ng-container>

      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let monthlyPass"> {{ monthlyPass.customerDTO.firstName }} {{ monthlyPass.customerDTO.lastName }} </td>
      </ng-container>

      <ng-container matColumnDef="customerContact">
        <th mat-header-cell *matHeaderCellDef> Contact </th>
        <td mat-cell *matCellDef="let monthlyPass"> {{ monthlyPass.customerDTO.contactNumber }} </td>
      </ng-container>

      <ng-container matColumnDef="billingAddress">
        <th mat-header-cell *matHeaderCellDef> Billing Address </th>
        <td mat-cell *matCellDef="let monthlyPass"> {{ monthlyPass.customerDTO.billingAddress }} </td>
      </ng-container>

      <ng-container matColumnDef="parkingLotAddress">
        <th mat-header-cell *matHeaderCellDef> Parking Lot Address </th>
        <td mat-cell *matCellDef="let monthlyPass"> {{ monthlyPass.parkingLotDTO.address }} </td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let monthlyPass"> {{ monthlyPass.startDate }} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration (Days) </th>
        <td mat-cell *matCellDef="let monthlyPass"> {{ monthlyPass.durationInDays }} </td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let monthlyPass">{{ monthlyPass.cost ? (monthlyPass.cost | currency:'USD':'symbol':'1.2-2') : '-' }} </td>
      </ng-container>

      <ng-container matColumnDef="valetParking">
        <th mat-header-cell *matHeaderCellDef> Valet Parking </th>
        <td mat-cell *matCellDef="let monthlyPass">
          {{ monthlyPass.parkingLotDTO.isValetParkingAvailable === 'Y' ? 'Yes' : 'No' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nightOps">
        <th mat-header-cell *matHeaderCellDef> Night Operations </th>
        <td mat-cell *matCellDef="let monthlyPass">
          {{ monthlyPass.parkingLotDTO.operationalInNight === 'Y' ? 'Yes' : 'No' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let monthlyPass">
          <button mat-flat-button class="edit-button" [routerLink]="['/updateMonthlyPass', monthlyPass.monthlyPassId]">
            <span class="material-symbols-outlined">
              border_color
            </span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</div>