<mat-toolbar>
  <span>Pricings For Parking Lot {{parkingLotId}}</span>
</mat-toolbar>

<mat-card *ngIf="parkingPricing.length === 0">
  <mat-card-content>
    <p>{{ noPricingMessage }}</p>
  </mat-card-content>
</mat-card>

<table mat-table *ngIf="parkingPricing.length > 0" [dataSource]="parkingPricing" class="mat-elevation-z8">
  <ng-container matColumnDef="dayOfWeek">
    <th mat-header-cell *matHeaderCellDef> Day of Week </th>
    <td mat-cell *matCellDef="let pricing"> {{getDayName(pricing.dayOfWeek)}} </td>
  </ng-container>

  <ng-container matColumnDef="morningHrCost">
    <th mat-header-cell *matHeaderCellDef> Morning Hour Cost </th>
    <td mat-cell *matCellDef="let pricing"> {{pricing.morningHrCost ? (pricing.morningHrCost | currency:'USD':'symbol':'1.2-2') : '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="middayHrCost">
    <th mat-header-cell *matHeaderCellDef> Midday Hour Cost </th>
    <td mat-cell *matCellDef="let pricing"> {{pricing.middayHrCost ? (pricing.middayHrCost | currency:'USD':'symbol':'1.2-2') : '-'}} </td>
  </ng-container>

  <ng-container matColumnDef="eveningHrCost">
    <th mat-header-cell *matHeaderCellDef> Evening Hour Cost </th>
    <td mat-cell *matCellDef="let pricing"> {{pricing.eveningHrCost ? (pricing.eveningHrCost | currency:'USD':'symbol':'1.2-2') : '-' }} </td>
  </ng-container>

  <ng-container matColumnDef="allDayCost">
    <th mat-header-cell *matHeaderCellDef> All Day Cost </th>
    <td mat-cell *matCellDef="let pricing"> {{pricing.allDayCost ? (pricing.allDayCost | currency:'USD':'symbol':'1.2-2') : '-' }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let pricing">
      <button mat-stroked-button (click)="toggleUpdatePricing(pricing.parkingPricingId)">Edit</button>
      <button mat-stroked-button (click)="openDeleteDialog(pricing.parkingPricingId)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
  <button mat-button (click)="toggleAddPricing()">+ Add Pricing</button>
</div>

<app-parking-pricing-delete *ngIf="showDeleteDialog"
                            [parkingPricingId]="parkingPricingIdToDelete"
                            (delete)="deleteParkingPricingById($event)"
                            (cancelDelete)="onCancelDelete()">
</app-parking-pricing-delete>
