<mat-card class="dialog-form-card">
  <mat-card-title class="dialog-form-card-title">Add Vehicle</mat-card-title>
  <mat-card-content class="dialog-form-card-content">
    <form [formGroup]="addVehicleForm" class="dialog-form-container">

      <div class="dialog-form-row">
        <mat-form-field appearance="outline" class="dialog-form-field">
          <mat-label>Vehicle Number</mat-label>
          <input matInput formControlName="vehicleNumber" placeholder="Enter vehicle number">
          <mat-error *ngIf="addVehicleForm.get('vehicleNumber')?.hasError('required')">
            Vehicle number is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="buttons">
        <button mat-raised-button class="btn" color="primary" (click)="onSubmit()">Save</button>
        <button mat-raised-button class="cancel-button btn" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
