  <mat-card class="dialog-form-card">
    <mat-card-title class="dialog-form-card-title">Add Parking Pricing</mat-card-title>
    <mat-card-content class="dialog-form-card-content">
      <form [formGroup]="addPricingForm" class="dialog-form-container">
        
        <div class="dialog-form-row">
          <mat-form-field class="dialog-form-field" appearance="outline">
            <mat-label>Day of Week</mat-label>
            <mat-select formControlName="dayOfWeek" required>
              <mat-option *ngFor="let day of dayOfWeekNames; let i = index" [value]="i">
                {{ day }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addPricingForm.get('dayOfWeek')?.invalid">Day is required</mat-error>
          </mat-form-field>
          <mat-form-field class="dialog-form-field" appearance="outline">
            <mat-label>Morning Hour Cost</mat-label>
            <input matInput type="number" formControlName="morningHrCost" placeholder="Enter morning cost">
            <mat-error *ngIf="addPricingForm.get('morningHrCost')?.invalid">Valid cost is required</mat-error>
          </mat-form-field>
        </div>
        <div class="dialog-form-row">
          <mat-form-field class="dialog-form-field" appearance="outline">
            <mat-label>Midday Hour Cost</mat-label>
            <input matInput type="number" formControlName="middayHrCost" placeholder="Enter midday cost">
            <mat-error *ngIf="addPricingForm.get('middayHrCost')?.invalid">Valid cost is required</mat-error>
          </mat-form-field>
          <mat-form-field class="dialog-form-field" appearance="outline">
            <mat-label>Evening Hour Cost</mat-label>
            <input matInput type="number" formControlName="eveningHrCost" placeholder="Enter evening cost">
            <mat-error *ngIf="addPricingForm.get('eveningHrCost')?.invalid">Valid cost is required</mat-error>
          </mat-form-field>
        </div>
        <div class="dialog-form-row">
          <mat-form-field class="dialog-form-field" appearance="outline">
            <mat-label>All Day Cost</mat-label>
            <input matInput type="number" formControlName="allDayCost" placeholder="Enter all-day cost">
            <mat-error *ngIf="addPricingForm.get('allDayCost')?.invalid">Valid cost is required</mat-error>
          </mat-form-field>
        </div>
        <div class="buttons">
          <button mat-raised-button class="btn" color="primary" (click)="onSubmit()">Save</button>
          <button mat-raised-button class="cancel-button btn" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>