/* .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #0c3967;
  font-weight: 600;
  border-bottom: 2px solid #f0f0f0;
}

.custom-table-container {
  margin-top: 2.5rem;
}

.custom-table {
  box-shadow: none;
}

.custom-table th {
  background: #fff;
  text-align: center;
  padding: 12px;
}

.custom-table td {
  padding: 12px;
}

.custom-table tr:hover {
  background: #e3f2fd;
}

.action-button,
.view-button,
.delete-button{
  margin: 4px 8px;
}

.delete-button {
  .material-symbols-outlined {
    color: #d50d0d;
  }
}

.delete-button:hover {
  background-color: #d50d0d;
  .material-symbols-outlined {
    color: white;
  }
}

.edit-button:hover {
  background-color: #ff4081;
  .material-symbols-outlined {
    color: white;
  }
}

mat-paginator {
  background-color: transparent;
}
 */
